header {
    border-style: 1px goldenrod;
}
.disabled {
    color: grey;
}
#disabled {
    color: purple;
}
.active {
    color: yellow;
    
}

div1{
    color: red;
}
h4 + div2{
    color:blue;
}
div1 + h4 {
    background-color:red;
}
div2 + h4 {
    background-color:blue;
}
.grandparent > h4  {
    border: 1px solid black;
    border-radius: 25px;
}
.promo {
    font-weight: bold;
    color:gold
}
span {
    height: 25px;
}